/* Цветовая палитра */
:root {
    --primary-bg: #FFFAFA;
    --secondary-bg: #FFFAFA;
    --highlight: #8AAAA5;
    --accent: #CABD9A;
    --dark-accent: #A5956D;
    --shadow-color: rgba(124, 138, 137, 0.6);
}

/* Общий стиль для страницы */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Основной макет */
.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    position: relative;
}

/* Боковая панель */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 100vh;
    background-color: black;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 30px 5px var(--shadow-color);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: var(--highlight);
    color: white;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

/* Основной контент */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--primary-bg);
    border-radius: 8px;
    margin-left: 250px;
    min-height: 100vh;
    box-shadow: 0 4px 30px 5px var(--shadow-color);
}
