{% extends 'crm/index.html' %}

{% block title %}Deals List{% endblock %}

{% block content %}
    <div class="content">
        {% load static %}


        <!-- Новая плитка для Company Report -->
        <a href="{% url 'company_report' %}" class="report-tile">
            <div class="tile">
                <img src="{% static 'crm/images/icons/company_report.png' %}" alt="Company Report" class="tile-icon">
                <p>Company Report</p>
            </div>
        </a>
    </nav>
</header>

</div>
{% endblock %}
