<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.8">
    <title>CRM System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'crm/styles.css' %}">
    <link rel="stylesheet" href="{% static 'crm/deal_list.css' %}">
</head>
<body>
    <!-- upper panel -->
   <!-- <header class="header">
        <div class="logo">
            <a href="{% url 'sales_analytics' %}">
                <img src="{% static 'crm/images/logo.png' %}" alt="Logo" class="logo-img">
            </a>

        </div>
        <nav class="nav">
            <a href="{% url 'report_list' %}">Reports</a>
        </nav>
    </header> -->

    <!-- Main body -->
    <div class="layout">
        <!-- navigation menu -->
        <nav class="sidebar">
            <ul>
                <div class="logo">
                    <a href="{% url 'sales_analytics' %}">
                        <img src="{% static 'crm/images/logo2.png' %}" alt="Logo" class="logo-img">
                    </a>

                </div>
                <li><a href="{% url 'contacts_list' %}">Contacts</a></li>
                <li><a href="{% url 'deal_list' %}">Deals</a></li>
                <li><a href="{% url 'task_list' %}">Tasks</a></li>
                <li><a href="{% url 'pipeline_list' %}">My Pipelines</a></li>
                <li><a href="{% url 'pipeline' %}">Pipelines</a></li>
                <li><a href="{% url 'report_list' %}">Reports</a></li>
                <li><a href="{% url 'sales_analytics' %}">Sales Analytic</a></li>
            </ul>
        </nav>


        <!-- Основное содержимое -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <link rel="stylesheet" href="{% static 'crm/index.css' %}">
    </div>
</body>
</html>
